
.card{
    width: 200px;
    height: 250px;
    background-color: slategray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.card-symbols{
    display: flex;
}
.circle{
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin : 2px 5px 0 0;
}
.card-header{
    font-size: 16px;
    padding: 0;
}
.card-link{
    margin: 20px 0 0 0;
    text-decoration: none;
}
.card-link a{
    color: white;
    background: transparent;
    text-decoration: none;
}