/* @font-face {
    font-family: "Olga";
    src: url('/Assets/Fonts/Olga.ttf') ;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url('/Assets/Fonts/Montserrat-Regular.ttf') ;
}
@font-face{
    font-family: "Montserrat-Semi-Bold";
    src: url('/Assets/Fonts/Montserrat-SemiBold.ttf') ;
}
@font-face{
    font-family: "Raleway-Regular";
    src: url('/Assets/Fonts/Raleway-Regular.ttf') ;
}
@font-face{
    font-family: "Raleway-Semi-Bold";
    src: url('/Assets/Fonts/Raleway-SemiBold.ttf') ;
}
@font-face{
    font-family: "Poppins-Regular";
    src: url('/Assets/Fonts/Poppins-Regular.ttf') ;
}
@font-face{
    font-family: 'Poppins-light';
    src: url('/Assets/Fonts/Poppins-Light.ttf') ;
}
@font-face{
    font-family: 'BebusNeue';
    src: url('/Assets/Fonts/BebasNeue-Regular.ttf') ;
} */
/* font-family: 'Bebas Neue', cursive;
font-family: 'Jomhuria', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */

:root{
    --dark-violet : #443e4aff;
    --mid-violet :#b9b1bcff;
    --light-violet : #d5d0d7ff;
    --light-cream : #fcf9edff;

}
body{
    overflow-x: hidden;
    background-color: var(--light-cream);
}
.navbar{
    position:fixed ;
    top:0 ;
    width:100%;
    background: var(--dark-violet) !important; 
}
.navbar-brand{
    font-family: 'Jomhuria', cursive !important;
    color: var(--light-cream) !important;
    
}
.nav-link {
    color: var(--light-cream) !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
.legend{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 1px solid var(--dark-violet);
    border-top: 1px solid var(--dark-violet);
    margin:0;
    padding:10px;
}
.midbg{
    background-color: var(--mid-violet);
}
.lightbg{
    background-color: var(--light-violet);
}
.lightbgc{
    background-color: var(--light-cream);
}
.darkbg{
    background-color: var(--dark-violet);
}
.home{
    width: 100vw;
    height: 50vh;
    background-image: url('/Assets/images/fantasy\ city.jpg');
    background-color: rgb(0, 0, 0,0.9);
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light-cream);
}
.homeContent img{
    width: 30%;
}
.homeContent h1{
    font-family: "Olga";
    font-size: 10vw;
}
.homeContent p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
/* About Section */
.about{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    background: var(--light-violet);
}
.aboutText{
    height: fit-content;
    width: 100%;
    background-color: var(--light-violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-bottom: 20px;
}
.aboutHeader{
    width: 100%;
    height: 30%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.aboutDetails{
    width: 100%;
    height: 70%;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 400;
    padding: 10px;
}
.aboutDetails p{
    font-size: 16px !important;
}
/* Talent Section */
.talent{
    width: 100vw;
    height: 50vh;
    background-color: var(--light-cream);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.talentBanner{
    height:10vh;
    width:90vw;
    margin: 10px 0;
}
.talentHeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
    height: 50%;
}
.talentHeader h2{
    font-size: 16px !important;
    margin :0;
}
.talentProgress{
    width:100%;
    padding: 5px;
    background: rgba(59, 58, 58, 0.096);
}
.talentProgressBar{
    width: 100%;
    height: 18px;
}
.talentProgressStatus{
    width: 90%;
    height: 100%;
    background: var(--dark-violet);
}
/* Project Section */
.project{
    width: 100vw;
    height: 100vh;
    color: var(--light-cream);
}
.project-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 2fr 2fr;

}
.project-card{
    background-color: whitesmoke;
}
.project-symbol{
    background-color: black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: right;
}
.project-details{
    width: 100%;
    height: 10vh;
    background-color: red;
}
@media screen and (min-width: 1024px) {
    .home{
        height:100vh;
    }
    .homeContent p{
        font-size: 20px;
    }
    .about{
        height:50vh;
    }
    .aboutText{
        width:90vw;
    }
}